html {
  font-size: 18px;
}

.content {
  max-width: 100%;
  padding-top: 2rem;
  /*margin-left: 20rem;*/
}

@media (min-width: 64em) {
  .content {
    margin-left: 20rem;
    margin-right: 4rem;
  }
}

.sidebar-sticky {
  bottom: initial;
}

.post {
  margin-bottom: 1.5em;
  padding-bottom: 1.5em;
  border-bottom: 1px solid #eee;
}

.related {
  border-top: 0px;
  padding-top: 0.5rem;
}

.links a {
  display: inline-block;
  margin-right: 1rem;
}

img.avatar {
  height: 200px;
  margin: 0 auto;
}

/*link colors*/

.tomchop .sidebar,
.tomchop .sidebar a {
  background-color: white;
  color: #515151;
}

.tomchop .sidebar a:hover,
.tomchop .content a,
.tomchop .related-posts li a:hover {
  color: #CD3233;
  text-decoration: none;
}

.tomchop .post p a:hover {
  border-bottom: 5px solid rgba(205, 50, 51, 0.7);
}
