.posts {
  width: 100%;
  max-width: 800px;
  text-align: left;
  padding: 20px;
  margin: 20px auto;

  @media #{$media-size-tablet} {
    max-width: 660px;
  }

  &:not(:last-of-type) {
    // Default
    border-bottom: 1px solid $light-border-color;

    @media (prefers-color-scheme: dark) {
      border-bottom: 1px solid $dark-border-color;
    }

    @media (prefers-color-scheme: light) {
      border-bottom: 1px solid $light-border-color;
    }

    [data-theme=dark] & {
      border-bottom: 1px solid $dark-border-color;
    }

    [data-theme=light] & {
      border-bottom: 1px solid $light-border-color;
    }
  }

  &-tags {
    margin: 0 0 2em;
    // font-size: 0.8em;


    a {
      text-decoration: none;
      margin-right: 0.5em;
      @include dimmed;
    }

    // a links red on hover
    a:hover {
      opacity: 1;
    }


  }

  &-group {
    display: flex;
    margin-bottom: 0.6em;
    line-height: normal;

    @media #{$media-size-tablet} {
      display: block;
    }
  }

  &-list {
    flex-grow: 1;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .post {
    &-title {
      font-size: 1rem;
      margin: 5px 0 5px 0;
    }

    &-year {
      padding-top: 0;
      margin-right: 1.6em;
      font-size: 1.6em;
      @include dimmed;

      @media #{$media-size-tablet} {
        margin: -6px 0 4px;
      }
    }

    &-item {


      a {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding: 0;
        text-decoration: none;
        padding: 0.1em 0.3em;

        &:hover {
          [data-theme=dark] & {
            background-color: $dark-background-secondary;
            border-radius: 0.2em;
          }

          [data-theme=light] & {
            background-color: $light-background-secondary;
            border-radius: 0.2em;
          }
        }
      }
    }

    &-day {
      flex-shrink: 0;
      margin-left: 1em;
      @include dimmed;
    }
  }
}
